@import '../../themes';

@include nb-install-component() {
  nb-card {
    max-width: 600px;
    max-height: 500px;
  }
}

button {
  width: 100%;
}

nb-accordion-item-body nb-toggle, nb-accordion-item-body nb-select {
  padding: 0.375rem 0;
}

nb-card-body {
  scrollbar-width: thin; // Firefox Scrollbar
}
