<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <nb-radio-group [(value)]="xGoesFirstOption">
      <nb-radio [value]="true">Player X goes first.</nb-radio>
      <nb-radio [value]="false">Player O goes first.</nb-radio>
      <nb-radio [value]="randomFirstPlayer">Random Player goes first.</nb-radio>
      <nb-radio [value]="alternateFirstPlayer">Alternate who goes first.</nb-radio>
    </nb-radio-group>
  </nb-card-body>
  <nb-card-footer>
    <button id="beginButton" nbButton hero status="primary" (click)="begin()">Begin</button>
  </nb-card-footer>
</nb-card>
