<h1>
  <ng-container *ngIf="availableSquares.size !== 0 && !winner">
    Current Player: {{player}}
  </ng-container>
  <ng-container *ngIf="winner">
    Player {{winner}} won!
  </ng-container>
  <ng-container *ngIf="availableSquares.size === 0 && !winner">
    It's a draw!
  </ng-container>
</h1>

<div class="buttons">
  <button nbButton outline status="danger" (click)="newGame()">
    Start New Game
  </button>
  <button nbButton outline status="danger" (click)="showDialog()">
    Game Options
  </button>
  <button nbButton outline status="danger" (click)="showDialog()">
    <nb-icon icon="settings-2-outline"></nb-icon>
  </button>
</div>

<main>
  <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)=makeMove(i)>
  </app-square>
</main>
