main {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: min(200px, 30vmin) min(200px, 30vmin) min(200px, 30vmin);
  grid-gap: 0px;
}

app-square {
  border: 1px gray solid;
  height: min(200px, 30vmin);
}
